<div id = "navbar">
	<img src = "http://dunjudge.me/img/xcatavatar1.png.pagespeed.ic.xJqfTyS_Z_.png" class = "nbicon"><!---->
	<div class = "titleblock">
		<div class = "title">le waffles pwost</div>
		<div class = "subtitle">Your trusted source of information.</div>
	</div>
	<% if ( user ) { %>
	<div class = "adminpanel navbarlink">
		<div class = "adminname"><%= user.actualname %></div>
		<div class = "dropdownarrow"></div>
		<div class = "ddcontent adminddcontent">
			<p><%= user.actualname %> (<%= user.username %>)</p>
			<a class = "ddlink" href = "/profile/<%= user.username %>">Profile</a>
		</div>
	</div>
	<% } %>
</div><!--
	<style>
		div{
			width: 90%;
			height: 60px;
			background-color: white;
		}

		div h1{
			color: white;
			font-family: 'Poiret One', cursive;
			font-size: 40pt;
			margin-left: 20px;
		}

		div a,
		div a:hover,
		div a:active{
			display: block;
			float: left;
			color: #428bca;
			font-family: 'Poiret One', cursive;
			text-decoration: none;
			font-size: 20pt;
			margin-top: 5px;
		}

		a#colg:hover,
		a#colg:active{
			border-top: solid white;
			border-bottom: solid white;
		}

		a#colw:hover,
		a#colw:active{
			border-top: solid white;
			border-bottom: solid white;
		}

		a#colb:hover,
		a#colb:active{
			border-top: solid white;
			border-bottom: solid white;
		}

		div#g{
			position: absolute;
			height: 50px;
			width: 100px;
			margin-left: 700px;
		}

		div#w{
			position: absolute;
			height: 50px;
			width: 100px;
			margin-left: 810px;
		}

		div#b{
			position: absolute;
			height: 50px;
			width: 100px;
			margin-left: 900px;
		}
</style>
</head>
<body>
	<div>
		<h1><a href="#" style="font-size:30pt">the raffles post</a></h1>
		<div id="g"><a href="#" id="colg">editions</a></div>
		<div id="w"><a href="#" id="colw">about</a></div>
		<div id="b"><a href="#" id="colb">contact</a></div>
	</div>
<body>
</html>
-->