<!DOCTYPE html>
<html>
	<head>
		<% include _head %>
	</head>
	<body>
		<% include _navbar %>

<% if (user) { %>
	<h1>You're frickin logged in !</h1>
	Hello, <%= user.username %>
<% } else { %>
	<h1>You're not logged in !</h1>
<% } %>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
		lorem ipsum blah<br>
	</body>
</html>